{% extends "layouts/main.html" %}

{% block pageTitle %}
  There's no need to report them again – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        There's no need to report them again
      </h1>

      <p>It can take a long time to investigate reports of fraud.</p>

      <p>We take all reports seriously.</p>

      <div class="govuk-inset-text">
        <p>Investigations are confidential so we cannot update you.</p>
      </div>

      <p>Sometimes we do not take any action because the person you've reported may:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have declared a change in their circumstances</li>
        <li>be getting a benefit that's not affected by what you’re reporting</li>
      </ul>


    </div>
  </div>

{% endblock %}
