{% extends "layouts/main.html" %}

{% block pageTitle %}
  The person you're reporting - their work – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/language-toggle.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="additional-information" method="post">

        <!-- HTML lifted directly from current FRC form -->

       <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  
    <h1 class="govuk-fieldset__heading">
      The person you're reporting - their work
    </h1>
  
  </legend>
  



  













<div class="govuk-form-group govuk-character-count"
    
        
      
    
        
      
    
    
    
   data-module="govuk-character-count" data-maxlength="100" data-i18n.characters-under-limit.other="You have %{count} characters remaining" data-i18n.characters-under-limit.one="You have %{count} character remaining"
   data-i18n.characters-at-limit="You have 0 characters remaining" data-i18n.characters-over-limit.other="You have %{count} characters too many" data-i18n.characters-over-limit.one="You have %{count} character too many"
  >
  <label class="govuk-label govuk-label--m" for="f-workType">
    What type of work do you think they are doing?
  </label>



  <textarea class="govuk-textarea govuk-js-character-count govuk-input--width-30" id="f-workType" name="workType" rows="5" aria-describedby="f-workType-info"
    
  ></textarea>

  <div id="f-workType-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 100 characters
  </div>

</div>




  














  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="f-employerName">
    Name of the business or employer they work for
  </label>


  <input
    
        
      
    
        
      
    
        
      
    
        
      
    
    
    
    
    
    
    
    
    
   class="govuk-input govuk-input--width-20" id="f-employerName" name="employerName" type="text"
    
  >

</div>



  













<div class="govuk-form-group govuk-character-count"
    
        
      
    
        
      
    
    
    
   data-module="govuk-character-count" data-maxlength="250" data-i18n.characters-under-limit.other="You have %{count} characters remaining" data-i18n.characters-under-limit.one="You have %{count} character remaining"
   data-i18n.characters-at-limit="You have 0 characters remaining" data-i18n.characters-over-limit.other="You have %{count} characters too many" data-i18n.characters-over-limit.one="You have %{count} character too many"
  >
  <label class="govuk-label govuk-label--m" for="f-employerAddress">
    Address or location of the business or employer they work for
  </label>



  <textarea class="govuk-textarea govuk-js-character-count govuk-input--width-30" id="f-employerAddress" name="employerAddress" rows="5" aria-describedby="f-employerAddress-info"
    
  ></textarea>

  <div id="f-employerAddress-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 250 characters
  </div>

</div>



  










  
  

  
  

  
  

  
  

  
  







  






<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-label--m">
    
      Approximately how long have they been claiming benefits?
    
    </legend>
    
  
    <div class="govuk-radios govuk-radios"
      
     data-module="govuk-radios">
      
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="f-duration" name="duration" type="radio" value="Less than 3 months">
        <label class="govuk-label govuk-radios__label" for="f-duration">
          Less than 3 months
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="f-duration-2" name="duration" type="radio" value="3 to 6 months">
        <label class="govuk-label govuk-radios__label" for="f-duration-2">
          3 to 6 months
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="f-duration-3" name="duration" type="radio" value="More than 6 months but less than a year">
        <label class="govuk-label govuk-radios__label" for="f-duration-3">
          More than 6 months but less than a year
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="f-duration-4" name="duration" type="radio" value="More than a year">
        <label class="govuk-label govuk-radios__label" for="f-duration-4">
          More than a year
        </label>
        
      </div>
      
    
      
        
    
      
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="f-duration-5" name="duration" type="radio" value="I don’t know">
        <label class="govuk-label govuk-radios__label" for="f-duration-5">
          I don’t know
        </label>
        
      </div>
      
    
      
      
    </div>
  
  </fieldset>

</div>



  














  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="f-workStartTime">
    What time do you think they leave for work? (optional)
  </label>


  <input
    
        
      
    
        
      
    
        
      
    
        
      
    
    
    
    
    
    
    
    
    
   class="govuk-input govuk-input--width-20" id="f-workStartTime" name="workStartTime" type="text"
    
  >

</div>




  














  
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--m" for="f-workDuration">
    How many hours do you think they work per week? (optional)
  </label>


  <input
    
        
      
    
        
      
    
        
      
    
        
      
    
    
    
    
    
    
    
    
    
   class="govuk-input govuk-input--width-20" id="f-workDuration" name="workDuration" type="text"
    
  >

</div>



  










  
  

  
  


{% set vehicleHtml %}
  {{ govukCharacterCount({
    name: "withHint",
    id: "with-hint",
    maxlength: 250,
    label: {
      text: "Vehicle details"
    },
    hint: {
      text: "Make and model, colour and registration number if known"
    }
  }) }}
{% endset -%}





{{ govukRadios({
  classes: "govuk-radios",
  name: "dob",
  fieldset: {
    legend: {
      text: "Do they travel to work in a vehicle?"    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes",
      conditional: {
        html: vehicleHtml
      }
    },
    {
      value: "No",
      text: "No",
      conditional: {
        html: approxHtml
      }
    }
  ]
}) }}




  





















  
  

  
  

  
  







  







<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    
      What do you think their work status is?
    
    </legend>
    
  
    <div class="govuk-checkboxes"
      
          
        
      
     id="f-workStatus-wrapper" data-module="govuk-checkboxes">
      
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="f-workStatus" name="workStatus[]" type="checkbox" value="Working for somebody">
        <label class="govuk-label govuk-checkboxes__label" for="f-workStatus">
          Working for somebody
        </label>
        
      </div>
      
    
  
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="f-workStatus-2" name="workStatus[]" type="checkbox" value="Working for themselves">
        <label class="govuk-label govuk-checkboxes__label" for="f-workStatus-2">
          Working for themselves
        </label>
        
      </div>
      
    
  
      
        
    
    
      
      
      
      
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="f-workStatus-3" name="workStatus[]" type="checkbox" value="Cash in hand">
        <label class="govuk-label govuk-checkboxes__label" for="f-workStatus-3">
          Cash in hand
        </label>
        
      </div>
      
    
  
      
      
    </div>
  
  </fieldset>

</div>






</fieldset>



  

  
    <div class="govuk-button-group casa-form-control-block">
      
  
    
  

<button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
    
        
      
    
   id="continue-button">
  Continue
</button>


      
    </div>
  
</form>

        <!-- End of HTML lifted directly from current FRC form -->

    </div>
  </div>

{% endblock %}
