{% extends "layouts/fes-nav.html" %}

{% set pageName="Search" %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

    <span class="govuk-caption-xl">Fraud & Error System</span>
    <h1 class="govuk-heading-l">Search</h1>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group" style="position:relative;">
      <label class="govuk-label" for="caseid">
        Search by Case ID
      </label>
      <div id="caseid-hint" class="govuk-hint">
        For example, I123
      </div>

      <input class="govuk-input govuk-input--width-10" id="caseid" name="caseId" type="text" autocomplete="off">

      <div id="caseid-results"
        style="display:none; position:absolute; background:white; border:2px solid #0b0c0c; max-width:220px; z-index:100;">
      </div>
    </div>

    <div class="govuk-form-group" style="position:relative;">
      <label class="govuk-label" for="first-name">
        First name
      </label>

      <input class="govuk-input govuk-input--width-10" id="first-name" name="first-name" type="text" autocomplete="off">


    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group" style="position:relative;">
      <label class="govuk-label" for="nino">
        Search by National Insurance number
      </label>
      <div id="nino-hint" class="govuk-hint">
        For example, QQ 12 34 56 C.
      </div>

      <input class="govuk-input govuk-input--width-10" id="nino" name="nino" type="text" autocomplete="off">

      <div id="nino-results"
        style="display:none; position:absolute; background:white; border:2px solid #0b0c0c; max-width:260px; z-index:100;">
      </div>
    </div>

    <div class="govuk-form-group" style="position:relative;">
      <label class="govuk-label" for="last-name">
        Last name
      </label>


      <input class="govuk-input govuk-input--width-10" id="last-name" name="last-name" type="text" autocomplete="off">


    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group" style="position:relative;">
      <label class="govuk-label" for="frfid">
        Search by Fraud Referral Form ID
      </label>
      <div id="frfid-hint" class="govuk-hint">
        For example, FR-76929D8300004786.
      </div>

      <input class="govuk-input govuk-input--width-10" id="frfid" name="frfId" type="text" autocomplete="off">

      <div id="frfid-results"
        style="display:none; position:absolute; background:white; border:2px solid #0b0c0c; max-width:260px; z-index:100;">
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group" style="position:relative;">
      <label class="govuk-label" for="postcode">Filter by postcode</label>
      <div id="postcode-hint" class="govuk-hint">
        For example, AA1 2BC.
      </div>



      <input id="postcode-input" class="govuk-input" autocomplete="off" style="width: 220px;"
        placeholder="Start typing">

      <div id="postcode-results"
        style="display:none; position:absolute; background:white; border:2px solid #0b0c0c; max-width:400px; z-index:100;">
      </div>

    </div>
  </div>
</div>

<button id="search-search-btn" type="submit" class="govuk-button govuk-button--primary">
  Search
</button>

{% endblock %}