{% extends "layouts/fes-nav.html" %}

{% set pageName="Workbasket control" %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style>
  /* Optional complementary GOV.UK style alignment patches */
  .govuk-autocomplete__item {
    padding: 8px 12px;
    cursor: pointer;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 19px;
    border-bottom: 1px solid #bfc1c3;
  }

  .govuk-autocomplete__item:hover,
  .govuk-autocomplete__item:focus {
    background-color: #1d70b8;
    color: white;
    outline: none;
  }

  a.govuk-link {
    color: #1d70b8;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full ">

    <span class="govuk-caption-xl">Fraud & Error System</span>
    <h1 class="govuk-heading-l">Workbasket control</h1>
    <p class="govuk-body-l">Filter workbasket or search using Case ID, Fraud Referral Form ID, National Insurance number
      or postcode to find cases you want to view, assign or close.</p>

    <!-- Function -->
    <div class="govuk-form-group">
      <label class="govuk-label" for="function-select">Select a function</label>
      <select class="govuk-select" id="function-select">
        <option value="select" selected>Select a function</option>
        <option value="campaigns">Campaigns</option>
        <option value="compliance">Compliance</option>
        <option value="investigations">Investigations</option>
      </select>
    </div>

    <h2 class="govuk-heading-m">Filter your basket</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        <!-- Criteria -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">Select the criteria</label>
          <div id="priority-hint" class="govuk-hint">
            Placeholder hint text (for horizontal alignment).
          </div>

          <select id="criteria" class="govuk-select">
            <option value="Select">Select</option>
            <option value="Benefit type">Benefit type</option>
            <option value="Risk or allegation ID">Risk or allegation ID</option>
            <option value="Source">Source</option>
          </select>
        </div>
      </div>

      <!-- Autocomplete -->
      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group" style="position:relative;">
          <label class="govuk-label" for="priority-search">Filter by benefit type, risk or allegation ID or
            source</label>
          <div id="priority-hint" class="govuk-hint">
            Placeholder hint text (for horizontal alignment).
          </div>

          <input id="priority-search" class="govuk-input" autocomplete="off" style="width: 220px;"
            placeholder="Start typing">


          <div id="autocomplete-results"
            style="display:none; position:absolute; background:white; border:2px solid #0b0c0c; max-width:400px; z-index:100;">
          </div>
        </div>
      </div>


      <!-- Postcode -->
      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group" style="position:relative;">
          <label class="govuk-label" for="priority-search">Filter by postcode</label>
          <div id="priority-hint" class="govuk-hint">
            For example, AA1 2BC.
          </div>


          <input id="priority-search" class="govuk-input" autocomplete="off" style="width: 220px;"
            placeholder="Start typing">


          <div id="autocomplete-results"
            style="display:none; position:absolute; background:white; border:2px solid #0b0c0c; max-width:400px; z-index:100;">
          </div>
        </div>
      </div>
    </div>


    <h2 class="govuk-heading-m">Search for individual cases</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <label class="govuk-label" for="caseid">
            Search by Case ID
          </label>
          <div id="caseid-hint" class="govuk-hint">
            For example, I123
          </div>
          <input class="govuk-input govuk-input--width-10" id="caseid" name="caseId" type="text" spellcheck="false"
            aria-describedby="account-number-hint" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <label class="govuk-label" for="frfid">
            Search by Fraud Referral Form ID
          </label>
          <div id="frfid-hint" class="govuk-hint">
            For example, FR-76929D8300004786.
          </div>
          <input class="govuk-input govuk-input--width-10" id="frfid" name="frfId" type="text" spellcheck="false"
            aria-describedby="account-number-hint" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <label class="govuk-label" for="nino">
            Search by National Insurance number
          </label>
          <div id="nino-hint" class="govuk-hint">
            For example, QQ123456C.
          </div>
          <input class="govuk-input govuk-input--width-10" id="nino" name="nino" type="text" spellcheck="false"
            aria-describedby="account-number-hint" inputmode="numeric">
        </div>
        <div>
        </div>

      </div>
      <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
        Search
      </button>
    </div>




    <h2 class="govuk-heading-m">Workbasket ("search"?) results</h2>
    <table class="govuk-table">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            <a href="#" class="govuk-link">Show oldest 1,000 cases</a>
          </p>
          <p class="govuk-body">
          <h3 class="govuk-heading-s">Total 2,000 cases</h3>
          </p>
        </div>
        <div class="govuk-grid-column-one-half table-right">
          <p class="govuk-body">
            <a href="#" class="govuk-link">Export to Excel</a>
          </p>
          <p class="govuk-body">
            <a href="#" class="govuk-link">Refresh list</a>
          </p>
        </div>
      </div>

      <thead class="govuk-table__head">
        <tr>
          <th class="govuk-table__header">Item</th>
          <th class="govuk-table__header">Case ID</th>
          <th class="govuk-table__header">FRF ID</th>
          <th class="govuk-table__header">NI number</th>
          <th class="govuk-table__header">Date created</th>
        </tr>
      </thead>

      <tbody id="table-body" class="govuk-table__body"></tbody>
    </table>

    <nav class="govuk-pagination" aria-label="Pagination">
      <div id="prev-container"></div>
      <ul id="pagination-list" class="govuk-pagination__list"></ul>
      <div id="next-container"></div>
    </nav>

  </div>

  {% endblock %}