{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-l">
      CFEMS experimental pages
    </h1>

     <hr>
    
     <p class="govuk-body">
      <a href="autocomplete-template" class="govuk-link">Autocomplete template</a>
     </p>
    <p class="govuk-body">
      <a href="prioritisation-error-test" class="govuk-link">Error test</a>
     </p>
     <p class="govuk-body">
      <a href="fiu-cms-case-details" class="govuk-link">FIU CMS Case details</a>
     </p>
  </div>
</div>

{% endblock %}
