{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row" id="index">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      CFEMS prototypes
    </h1>

     <hr>
    
     <p class="govuk-body">
      <a href="rms/source" class="govuk-button">RMS</a>
     </p>

     <p class="govuk-body">
      <a href="fes/prioritisation" class="govuk-button">FES</a>
     </p>

     <p class="govuk-body">
      <a href="sandbox/list" class="govuk-button">Sandbox</a>
     </p>

     <p class="govuk-body">
      <a href="changelog" class="govuk-button">Changelog</a>
     </p>
    
  </div>
</div>

{% endblock %}
