{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row" id="index">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">
      CFEMS prototypes
    </h1>

    <p class="govuk-body">
      This is a collection of CFEMS prototypes that various designers have worked on.
    </p>
    <p class="govuk-body">
      For more information, get in touch with <a href="aziz.hamra@engineering.digital.dwp.gov.uk">Aziz Hamra</a>.
    </p>

    <hr>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          CMS-CMG
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          Project/service description - coming soon
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">Prototype</a>
        </p>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="govuk-grid-row" id="index">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          FES
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          CFEMS Fraud and Error System
        </p>
        <p class="govuk-body">
          <a href="fes/prioritisation" class="govuk-link">Prototype</a>
        </p>

      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          RMS
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          CFEMS Referral Management System
        </p>
        <p class="govuk-body">
          <a href="rms/source" class="govuk-link">Prototype</a>
        </p>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="govuk-grid-row" id="index">

  <div class="govuk-grid-column-one-half">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Report Benefit Fraud
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          Created by: Stuart Bamforth
        </p>
        <p class="govuk-body">
          <a href="prototype1/start" class="govuk-link">Prototype</a>
        </p>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="govuk-grid-row" id="index">

  <div class="govuk-grid-column-one-half">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Sandbox
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          Experimental pages and work in progress
        </p>
        <p class="govuk-body">
          <a href="sandbox/list" class="govuk-link">Prototype</a>
        </p>

      </div>
    </div>
  </div>
</div>

<hr>

<div class="govuk-grid-row" id="index">

  <div class="govuk-grid-column-one-half">

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          WoW Alpha
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">
          Ways of Working Alpha
        </p>
        <p class="govuk-body">
          <a href="wow-alpha/index" class="govuk-link">Prototype</a>
        </p>

      </div>
    </div>
  </div>
</div>
{% endblock %}